
/*
  Themes fonts
*/
$font-base-family: "Segoe UI";

/*
* Breakpoints
*/

$media-tablet: 768px;
$media-tablet-landscape: 1024px;
$media-desktop: 1200px;

/*
* Colors
*/

$color-bg: #6725A8;
$color-text: #000000;
