<div class="absent__list">
  <div class="absent__list-info paddingProduct marginProduct">
    <div class="absent__list-wrapper">
      <img class="absent__list-img colorImg" src="@@src" alt="t-shirt" width="72" height="96">
       <div class="absent__list-text">
         <p class="absent__list-name colorText">@@name</p>
         <p class="absent__list-characteristic colorText">@@characteristic</p>
     </div>
     </div>
      <div class="icon marginIcon">
        <button class="icon__like"></button>
        <button class="icon__delete"></button>
      </div>
  </div>
</div>

